<table class="table table-striped table-sm table-responsive">
    <thead class="thead-dark">
        <tr>
            <th scope="col">DATE / NAME</th>
            {{#each stundets}}
            <th scope="col">{{name}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody class="text-center">
        {{#each takenDateToAttendances}}
        <tr>
            <td>{{takenDate}}</td>
            {{#each attendances}}
            <td class="{{btClass}}">{{status}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>