 <div class="col-6 mx-4 p-1">
      <div class="progress thick-progress-bar">
        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: {{classAverage}}%" aria-valuenow="{{classAverage}}" aria-valuemin="0" aria-valuemax="100"> CLASS AVG ({{classAverage}}%) </div>
      </div>
    </div>
    <div class="mt-1">
      <p><strong>TOTAL ({{totalClasses}})</strong></p>
    </div>
