<div class="container">
  <form class="form-inline my-2">
    <label class="sr-only" for="course-slct">Select Course</label>
    <select class="form-control form-control-sm m-1 mr-3" id="course-schedule-slct">
    </select>
    <!-- 
    <script id="course-schedule-options-ht" type="text/x-handlebars-template">
      <option selected>Select Course ...</option>
      {{#each content}}
      <option id="{{id}}">{{name}}</option>
      {{/each}}
    </script>
    -->
    <div class="input-group mx-2">
      <label for="attendance-dt" class="mr-2">Attendance Date</label>
      <input type="date" name="attendance-dt" id="attendance-dt" class="form-control form-control-sm"> </input>
    </div>
  </form>
</div>



<hr/>


<div class="container" id="student-enrollments-div">
</div>

<!-- 
<script id="student-enrollments-ht" type="text/x-handlebars-template">
  <div class="container">
    <div class="row mx-1">
      <table class="table table-striped table-sm table-responsive">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ROLE NUMBER</th>
            <th scope="col">NAME</th>
            <th scope="col">STATUS</th>
            <th scope="col">COMMENT</th>
          </tr>
        </thead>
        <tbody id="student-enrollments-tbody">
          {{#each studentEnrollments}}
          <tr id="{{enrollmentId}}">
            <td>{{rollNumber}}</td>
            <td>{{fname}} {{lname}}</td>
            <td>
                <form>
                  <label class="badge badge-success radio-inline p-1"> <input type="radio" name="optradio" id="{{enrollmentId}};PRESENT"> PRS</label>
                  <label class="badge badge-danger radio-inline p-1"> <input type="radio" name="optradio" id="{{enrollmentId}};ABSENT"> ABS</label>
                  <label class="badge badge-warning radio-inline p-1"> <input type="radio" name="optradio" id="{{enrollmentId}};ON_LEAVE"> OLV</label>
                  <label class="badge badge-secondary radio-inline p-1"> <input type="radio" name="optradio"  id="{{enrollmentId}};OTHER"> OTR</label>
              </form>
            </td>
            <td>
                <input class="form-control mx-2 h-75" style="width:95%" type="input" id="comment-inpt" />
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col col-cneter my-3">
        <button type="button" class="btn btn-primary mx-1" id="reset-attendance-btn">Reset</button>
        <button type="button" class="btn btn-primary mx-1" id="submit-attendance-btn">Submit Attendance</button>
      </div>
    </div>
    <div class="row">
      <div class="col col-cneter my-3">
        <div id="alrt"></div>
      </div>
    </div>
  </div>
</script>
 -->