<div class="container">
  <form class="form-inline my-2">
    <label class="sr-only" for="course-slct">Select Course</label>

    <select class="form-control form-control-sm m-1 mr-3" id="course-schedule-slct">
    </select>

    <div class="input-group mx-2">
      <label for="from-dt" class="mr-1">From</label>
      <input type="date" name="from-dt" id="from-dt" class="form-control form-control-sm m-1"> </input>
    </div>

    <div class="input-group mx-2">
      <label for="to-dt" class="mr-1">To</label>
      <input type="date" name="to-dt" id="to-dt" class="form-control form-control-sm m-1"> </input>
    </div>

    <button type="button" class="btn btn-primary btn-sm mx-2" id="report-filter-btn">FILTER</button>
  </form>
</div>


<hr/>


<div class="container">

  <div class="row mx-3" id="reports-div" id="report-table-div">
  </div>
</div>


<div class="container">

  <div class="row my-4" id="class-average-div">
  </div>
</div>