.col-cneter {
  text-align: center;
}

.profile-image{
  height:10rem;
  width:10rem;
  border:0
}

.thick-progress-bar {
  height: 2em;
}

#error-alrt {
  margin-top: 1em;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}
